 @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');



*{
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

.menu{
  padding: 20px;
}

.menu ul {
  list-style:none ;
  display: flex;
  padding:0 50px;
  justify-content:space-between;
  align-items: center;

      /* nav span */
}
.cadastro{
  display: flex;
  align-items: center;
  margin-left: 125px;
  margin-right: 20px;
}
.cadastro-item{
 margin-right: 50px;
}
.cadastro-item a {
  justify-content:flex-start ;
  text-decoration: none;
  color: #304F8C;
  font-weight: 500;
}
.slogan img {
  margin-right: 100px;
  justify-content: center;
  align-items: center;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content{

    flex: 2;
    padding: 100px;

}
.hero h1 {
    font-size:40px;
    max-width: 532px;
    max-height: 112px;
    height: 50vh;
  
}
.hero p {
   
    font-size: 16px;
    max-width: 527px;
    margin-bottom: 32px;
    color: rgba(48, 79, 140, 1);
  
}

.hero-image {

    flex: 4;
    text-align: center;

}

.hero-image img{
  max-width: 50%;
  width: 60%;
  height: auto;
 
}

.btn-toknow{
    cursor: pointer;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 20px 60px;
    background-color:#304F8C;
    color: white;
    font-weight: 700;
    border-radius: 8px;
}

.btn-login{
    border: none;
    width: 170px;
    padding: 17px;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    background-color:#304F8C;
    cursor: pointer;  

  }
  .about{
    align-content: center;
    justify-content: space-evenly;
    display: flex;
    background-color: rgb(255, 255, 255,);  
    -webkit-box-shadow: 0px 21px 249px 8px rgba(167, 164, 164, 0.164);
    -moz-box-shadow: 0px 21px 249px 8px rgb(114, 94, 94);
    box-shadow: 0px 21px 249px 8px rgba(219, 209, 209, 0);
    padding: 30px;
    margin:35px 70px;
    text-align: left ;
  }
  .about span{
    background: white;
   
    font-size: 14px;
    font-weight:normal;
  }
  .about h2{
    font-size: 17px;
    font-weight: bold;
  }
  .about img {  

  text-align: center ;
  justify-content:space-between ;
  margin: 0px 70px;
  }

  .Serviços-text{

    text-align: left;
    padding-left: 100px;
    margin-right: 100px;
  }
  
  .Serviços-text h2{
     font-size: 14px;
     text-align: left;
     color: #4c5d73;
  
  }
  .Serviços-text h1{
   font-size: 32px;
   font-weight: 700; 
   margin: 0;
   color: #111826;
   width: 826px;
  } 
  .Serviços{
    
    justify-content: space-between;
    flex-direction: row;
    display: flex;

}
.servicosbotton{
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
    margin-left: 30px;
    width: 268px;
    height: 208;  
}
.servicosbotton>img{
    
    width: 67px;
    height: 67px;
    padding: 17px;
}
.servicosbotton>p{
    text-align: left;
}
.btn-sobre{
  border-color: #304F8C;
  width: 210px;
  padding: 10px;
  color: #304F8C;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  background-color:#ffff;
  cursor: pointer;
    
}
.sobre-text>{

}
.atuação{
  justify-content: space-evenly;
    flex-direction: row;
    display: flex;
   
}
.atuaçãobutton span{
  display: flex;
  font-size: 20px;
}
.planos{
  display: flex;
}
.planos h2{


  height: 40px;
  border: 2px solid red;
}
.plan-text{
  border: 2px solid rgba(16, 29, 201, 0.384);
  flex-direction: column;
  display: flex;
  padding: 50px;

}
.plan-text small{
  border: 2px solid rgb(31, 179, 17);
  font-size: 32px;
  margin-left: 4px;
  color: #4c5d73;
  margin-top:-10px ;
}
.textfield{
  border:  2px solid red;
  background-color: rgba(160, 179, 217, 0.699);
  width: 100;
  
}
.textfield > p{
  font-size: 16px;
  max-width: 527px;
  margin-bottom: 32px;
  justify-content: center;
  display: flex;
  margin-left: 700px;
}
.plan-box {
  border:  2px solid red;
 justify-content: center;
}
.imagem-1{
  display: flex;
  margin-left: 82%;
}
.imagem-2{
  display: flex;
  justify-content: center;
}
.interface img{
  margin-left: 48%;
  border:  2px solid red;
}

.interface p{
  justify-content: center;
  display: flex;
  padding: 50px;
 
}
